USE [master]
GO
/****** Object:  Database [projectdemo]    Script Date: 6/8/2026 11:20:24 AM ******/
CREATE DATABASE [projectdemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projectdemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIETHTCE181666\MSSQL\DATA\projectdemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projectdemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIETHTCE181666\MSSQL\DATA\projectdemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projectdemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projectdemo]
GO
/****** Object:  Table [dbo].[entry_field_values]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry_field_values](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entry_id] [int] NOT NULL,
	[field_id] [int] NOT NULL,
	[value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_entries]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_entries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_sections]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[icon] [nvarchar](50) NULL,
	[color] [nvarchar](20) NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section_fields]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section_fields](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NOT NULL,
	[field_key] [nvarchar](50) NULL,
	[label] [nvarchar](100) NULL,
	[field_type] [nvarchar](20) NULL,
	[options] [nvarchar](max) NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] NOT NULL,
	[project_id] [int] NULL,
	[project_name] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
	[start_date] [nvarchar](100) NULL,
	[due_date] [date] NULL,
	[created_at] [datetime] NULL,
	[assigned_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/8/2026 11:20:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[entry_field_values] ON 

INSERT [dbo].[entry_field_values] ([id], [entry_id], [field_id], [value]) VALUES (71, 20, 203, N'login')
INSERT [dbo].[entry_field_values] ([id], [entry_id], [field_id], [value]) VALUES (72, 20, 204, N'đăng nhập')
INSERT [dbo].[entry_field_values] ([id], [entry_id], [field_id], [value]) VALUES (73, 20, 205, N'IN_PROGRESS')
SET IDENTITY_INSERT [dbo].[entry_field_values] OFF
GO
SET IDENTITY_INSERT [dbo].[project_entries] ON 

INSERT [dbo].[project_entries] ([id], [section_id], [created_at], [updated_at]) VALUES (20, 81, CAST(N'2026-06-01T16:53:42.830' AS DateTime), CAST(N'2026-06-01T16:53:42.830' AS DateTime))
INSERT [dbo].[project_entries] ([id], [section_id], [created_at], [updated_at]) VALUES (21, 81, CAST(N'2026-06-01T17:05:41.843' AS DateTime), CAST(N'2026-06-01T17:05:41.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[project_entries] OFF
GO
SET IDENTITY_INSERT [dbo].[project_sections] ON 

INSERT [dbo].[project_sections] ([id], [project_id], [name], [icon], [color], [sort_order]) VALUES (80, 17, N'Ghi chú', N'bi-journal-text', N'#f59e0b', 0)
INSERT [dbo].[project_sections] ([id], [project_id], [name], [icon], [color], [sort_order]) VALUES (81, 17, N'Công việc', N'bi-list-check', N'#10b981', 1)
INSERT [dbo].[project_sections] ([id], [project_id], [name], [icon], [color], [sort_order]) VALUES (82, 17, N'Quy trình', N'bi-diagram-3-fill', N'#3b82f6', 2)
SET IDENTITY_INSERT [dbo].[project_sections] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([id], [name], [description], [status]) VALUES (17, N'PQCZAIT-E-COMMERCE-PLATFORM', N'<p>ecomosy</p>', N'PENDING')
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[section_fields] ON 

INSERT [dbo].[section_fields] ([id], [section_id], [field_key], [label], [field_type], [options], [sort_order]) VALUES (202, 80, N'content', N'Nội dung', N'textarea', NULL, 0)
INSERT [dbo].[section_fields] ([id], [section_id], [field_key], [label], [field_type], [options], [sort_order]) VALUES (203, 81, N'title', N'Tên công việc', N'text', NULL, 0)
INSERT [dbo].[section_fields] ([id], [section_id], [field_key], [label], [field_type], [options], [sort_order]) VALUES (204, 81, N'description', N'Mô tả', N'textarea', NULL, 1)
SET IDENTITY_INSERT [dbo].[section_fields] OFF
GO
INSERT [dbo].[tasks] ([id], [project_id], [project_name], [title], [description], [status], [start_date], [due_date], [created_at], [assigned_date]) VALUES (20, 17, N'PQCZAIT-E-COMMERCE-PLATFORM', N'login', N'đăng nhập', N'IN_PROGRESS', N'2026-06-01', CAST(N'2026-06-03' AS Date), CAST(N'2026-06-01T16:53:42.830' AS DateTime), NULL)
INSERT [dbo].[tasks] ([id], [project_id], [project_name], [title], [description], [status], [start_date], [due_date], [created_at], [assigned_date]) VALUES (21, 17, N'PQCZAIT-E-COMMERCE-PLATFORM', N'asd', N'asd', N'PENDING', N'2026-06-01', CAST(N'2026-06-03' AS Date), CAST(N'2026-06-01T17:05:41.843' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [role]) VALUES (1, N'admin', N'admin123', N'ADMIN')
INSERT [dbo].[users] ([id], [username], [password], [role]) VALUES (2, N'user1', N'user123', N'USER')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UKj9sc6c8f1u3scy42m2kwrogx2]    Script Date: 6/8/2026 11:20:24 AM ******/
ALTER TABLE [dbo].[entry_field_values] ADD  CONSTRAINT [UKj9sc6c8f1u3scy42m2kwrogx2] UNIQUE NONCLUSTERED 
(
	[entry_id] ASC,
	[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_entry_field]    Script Date: 6/8/2026 11:20:24 AM ******/
ALTER TABLE [dbo].[entry_field_values] ADD  CONSTRAINT [uq_entry_field] UNIQUE NONCLUSTERED 
(
	[entry_id] ASC,
	[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5723F54544B]    Script Date: 6/8/2026 11:20:24 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[project_entries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[project_entries] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[project_sections] ADD  DEFAULT ('bi-table') FOR [icon]
GO
ALTER TABLE [dbo].[project_sections] ADD  DEFAULT ('#6366f1') FOR [color]
GO
ALTER TABLE [dbo].[project_sections] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[section_fields] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[entry_field_values]  WITH CHECK ADD FOREIGN KEY([entry_id])
REFERENCES [dbo].[project_entries] ([id])
GO
ALTER TABLE [dbo].[entry_field_values]  WITH CHECK ADD FOREIGN KEY([field_id])
REFERENCES [dbo].[section_fields] ([id])
GO
ALTER TABLE [dbo].[project_entries]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[project_sections] ([id])
GO
ALTER TABLE [dbo].[project_sections]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[section_fields]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[project_sections] ([id])
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc]
GO
ALTER TABLE [dbo].[section_fields]  WITH CHECK ADD  CONSTRAINT [chk_field_type] CHECK  (([field_type]='date' OR [field_type]='number' OR [field_type]='select' OR [field_type]='textarea' OR [field_type]='text'))
GO
ALTER TABLE [dbo].[section_fields] CHECK CONSTRAINT [chk_field_type]
GO
USE [master]
GO
